---
import "../scss/main.css";
import SingleFeatured from "./SingleFeatured.astro";
---

<!-- ========== Featured ========== -->
<section id="featured" class="featured">
	<div class="container">
		<div class="row align-center justify-between see-all">
			<div class="col-6">
				<h2>Featured</h2>
			</div>
			<div class="col-6">
				<a href="/portfolio" class="btn m-r-auto see-all-desktop">see all <img src="/img/arrow-right-line.svg" alt="" class="arrow-icon"/></a>
			</div>
		</div>
		<div class="row">
			<SingleFeatured image={"/img/featured-img01.jpg"} title="Project Del Sol" imgClass={"featured__single--thumbnail fthumb-1"} featuredClass={"featured__single featured-1"} dateClass={"date-hide"}/>
			<SingleFeatured image="/img/featured-img02.jpg" title="228B Tower" imgClass={"featured__single--thumbnail fthumb-2"} featuredClass={"featured__single featured-2"} dateClass={"date-hide"}/>
			<SingleFeatured image="/img/featured-img03.jpg" title="Le Prototype" imgClass={"featured__single--thumbnail fthumb-3"} featuredClass={"featured__single featured-3"} dateClass={"date-hide"}/>
		</div>
		<a href="/portfolio" class="btn m-l-auto see-all-mobile d-none">see all <img src="/img/arrow-right-line.svg" alt="" class="arrow-icon"/></a>
	</div>
</section>